
nav {
    background:linear-gradient(35deg, blue, black);
    color: white;
    text-align: center;
    padding: 10px;
}

.container {
    display: flex;
    justify-content: space-between
    ;
    width: 95%;
    margin: 10px auto;
}

.col1 {
    width: 30%;
}
.col2 {
    width: 65%;
}

.green {
    background-color: green;
    padding: 5px;
    border-radius: 4px;
    color: white;
    border: 2px solid black;
}

.yellow {
    background-color: yellow;
    padding: 5px;
    border-radius: 4px;
    color: black;
    border: 2px solid black;
}

.red {
    background-color: red;
    padding: 5px;
    border-radius: 4px;
    color: white;
    border: 2px solid black;
}
.card {
    flex-direction: row;
    padding: 5px;
    margin: 5px;
    justify-content: space-around;
    align-items: center;
    
}